:host {
  display: block;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #475569;
  background: #0f172a;
  color: white;
}

button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
}
